html, body {
  margin: 0; 
  padding: 0;
  background: black;
  overflow: hidden;
}

.App {
  text-align: center;
  /* font-family: 'Syne Mono', monospace;
  font-family: 'Syne Mono', monospace;
  font-family: 'Ubuntu Mono', monospace; */
  font-family: 'VT323', monospace;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
